# dependencies
client/node_modules
client/coverage/
server/node_modules

# production
server/build

.DS_Store
.idea

# misc
server/.DS_Store
server/.env

client/.DS_Store
client/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
